@keyframes infinite-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.infinite-spinner {
  animation: infinite-spin 3s linear infinite; /* Slow (3s), smooth */
}

.section-project {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}


.panel {
  width: 100%;
  height: 100vh;
}

.pin-spacer {
  height: 200vh;
}
/* #root{
    height: 100%;
  overflow: hidden;

} */